body{
    background-color:#aa5555;
  color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 85px;
}

.mainbox{
    display: grid;
   text-align: center;
    font-family: serif;
    color: aqua;
    width: 500px;
padding: 10px;
grid-column: -1/3;
}


button{
    display: flex;
    justify-content: center;
  border: 10px;
  color: rgb(46, 7, 237);
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}